StUF/Core/Buurt.wsdl

<?xml version="1.0" encoding="utf-8" ?>
<definitions
	xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:wsi="http://ws-i.org/schemas/conformanceClaim/"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:BB="http://www.stufstandaarden.nl/koppelvlak/STUF4/Berichten/Buurt"
	targetNamespace="http://www.stufstandaarden.nl/koppelvlak/STUF4/Berichten/Buurt"
	>
	<types>
		<xs:schema>
			<xs:import schemaLocation="StUF4_msg_buurt.xsd"
								 namespace="http://www.stufstandaarden.nl/koppelvlak/STUF4/Berichten/Buurt"
								 />
		</xs:schema>
	</types>
	<message name="ZoekBuurtOpBuurtnaamIn">
		<part name="parameters" element="BB:ZoekBuurtOpBuurtnaam"/>
	</message>
	<message name="ZoekBuurtOpBuurtnaamOut">
		<part name="parameters" element="BB:ZoekBuurtOpBuurtnaamResponse"/>
	</message>
	<message name="ZoekBuurtOpWijknaamIn">
		<part name="parameters" element="BB:ZoekBuurtOpWijknaam"/>
	</message>
	<message name="ZoekBuurtOpWijknaamOut">
		<part name="parameters" element="BB:ZoekBuurtOpWijknaamResponse"/>
	</message>
	<message name="ZoekBuurtOpGemeentenaamIn">
		<part name="parameters" element="BB:ZoekBuurtOpGemeentenaam"/>
	</message>
	<message name="ZoekBuurtOpGemeentenaamOut">
		<part name="parameters" element="BB:ZoekBuurtOpGemeentenaamResponse"/>
	</message>
	<message name="RaadpleegBuurtOpBuurtcodeWijkcodeGemeenteCodeIn">
		<part name="parameters" element="BB:RaadpleegBuurtOpBuurtcodeWijkcodeGemeenteCode"/>
	</message>
	<message name="RaadpleegBuurtOpBuurtcodeWijkcodeGemeenteCodeOut">
		<part name="parameters" element="BB:RaadpleegBuurtOpBuurtcodeWijkcodeGemeenteCodeResponse" />
	</message>
	<portType name="BevraagBuurt">
		<operation name="ZoekBuurtOpBuurtnaam">
			<input message="BB:ZoekBuurtOpBuurtnaamIn"/>
			<output message="BB:ZoekBuurtOpBuurtnaamOut"/>
		</operation>
		<operation name="ZoekBuurtOpWijknaam">
			<input message="BB:ZoekBuurtOpWijknaamIn"/>
			<output message="BB:ZoekBuurtOpWijknaamOut"/>
		</operation>
		<operation name="ZoekBuurtOpGemeentenaam">
			<input message="BB:ZoekBuurtOpGemeentenaamIn"/>
			<output message="BB:ZoekBuurtOpGemeentenaamOut"/>
		</operation>
		<operation name="RaadpleegBuurtOpBuurtcodeWijkcodeGemeenteCode">
			<input message="BB:RaadpleegBuurtOpBuurtcodeWijkcodeGemeenteCodeIn"/>
			<output message="BB:RaadpleegBuurtOpBuurtcodeWijkcodeGemeenteCodeOut"/>
		</operation>
	</portType>
	<binding name="SOAPBevraagBuurt" type="BB:BevraagBuurt">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
		<operation name="ZoekBuurtOpBuurtnaam">
			<soap:operation soapAction="http://www.stufstandaarden.nl/koppelvlak/STUF4/ZoekBuurtOpBuurtnaam"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="ZoekBuurtOpWijknaam">
			<soap:operation soapAction="http://www.stufstandaarden.nl/koppelvlak/STUF4/ZoekBuurtOpWijknaam"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="ZoekBuurtOpGemeentenaam">
			<soap:operation soapAction="http://www.stufstandaarden.nl/koppelvlak/STUF4/ZoekBuurtOpGemeentenaam"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="RaadpleegBuurtOpBuurtcodeWijkcodeGemeenteCode">
			<soap:operation soapAction="http://www.stufstandaarden.nl/koppelvlak/STUF4/RaadpleegBuurtOpBuurtcodeWijkcodeGemeenteCode"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="BevraagBuurtService">
		<port name="BevraagBuurt" binding="BB:SOAPBevraagBuurt" />
	</service>
</definitions>
