StUF/Core/IngeschrevenPersoon.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions
	xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:wsi="http://ws-i.org/schemas/conformanceClaim/"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:BCMN="http://www.stufstandaarden.nl/koppelvlak/STUF4/Berichten/Gemeenschappelijk"
	xmlns:MIP="http://www.stufstandaarden.nl/koppelvlak/STUF4/Berichten/IngeschrevenPersoon"
	targetNamespace="http://www.stufstandaarden.nl/koppelvlak/STUF4/Berichten/IngeschrevenPersoon"
	>
	<types>
		<xs:schema>
			<xs:import schemaLocation="StUF4_msg_gemeenschappelijk.xsd"
								 namespace="http://www.stufstandaarden.nl/koppelvlak/STUF4/Berichten/Gemeenschappelijk"
								 />
			<xs:import schemaLocation="StUF4_msg_ingeschrevenpersoon.xsd"
								 namespace="http://www.stufstandaarden.nl/koppelvlak/STUF4/Berichten/IngeschrevenPersoon"
								 />
		</xs:schema>
	</types>
	<message name="Fault">
		<part name="fault" element="BCMN:Fout" />
	</message>
	<message name="ZoekIngeschrevenPersonenOpGeslachtsnaamIn">
		<part name="parameters" element="MIP:ZoekIngeschrevenPersonenOpGeslachtsnaam"/>
	</message>
	<message name="ZoekIngeschrevenPersonenOpGeslachtsnaamOut">
		<part name="parameters" element="MIP:ZoekIngeschrevenPersonenOpGeslachtsnaamResponse"/>
	</message>
	<message name="ZoekIngeschrevenPersonenOpPostcodeHuisnummerIn">
		<part name="parameters" element="MIP:ZoekIngeschrevenPersonenOpPostcodeHuisnummer"/>
	</message>
	<message name="ZoekIngeschrevenPersonenOpPostcodeHuisnummerOut">
		<part name="parameters" element="MIP:ZoekIngeschrevenPersonenOpPostcodeHuisnummerResponse"/>
	</message>
	<message name="ZoekIngeschrevenPersonenOpBinnenlandsVerblijfsadresIn">
		<part name="parameters" element="MIP:ZoekIngeschrevenPersonenOpBinnenlandsVerblijfsadres"/>
	</message>
	<message name="ZoekIngeschrevenPersonenOpBinnenlandsVerblijfsadresOut">
		<part name="parameters" element="MIP:ZoekIngeschrevenPersonenOpBinnenlandsVerblijfsadresResponse"/>
	</message>
	<message name="RaadpleegBewoningIn">
		<part name="parameters" element="MIP:RaadpleegBewoning"/>
	</message>
	<message name="RaadpleegBewoningOut">
		<part name="parameters" element="MIP:RaadpleegBewoningResponse"/>
	</message>
	<message name="RaadpleegIngeschrevenPersoonIn">
		<part name="parameters" element="MIP:RaadpleegIngeschrevenPersoon"/>
	</message>
	<message name="RaadpleegIngeschrevenPersoonOut">
		<part name="parameters" element="MIP:RaadpleegIngeschrevenPersoonResponse"/>
	</message>
	<portType name="BevraagIngeschrevenPersoon">
		<operation name="ZoekIngeschrevenPersonenOpGeslachtsnaam">
			<input message="MIP:ZoekIngeschrevenPersonenOpGeslachtsnaamIn"/>
			<output message="MIP:ZoekIngeschrevenPersonenOpGeslachtsnaamOut"/>
			<fault message="MIP:Fault" name="Fout" />
		</operation>
		<operation name="ZoekIngeschrevenPersonenOpPostcodeHuisnummer">
			<input message="MIP:ZoekIngeschrevenPersonenOpPostcodeHuisnummerIn"/>
			<output message="MIP:ZoekIngeschrevenPersonenOpPostcodeHuisnummerOut"/>
			<fault message="MIP:Fault" name="Fout" />
		</operation>
		<operation name="ZoekIngeschrevenPersonenOpBinnenlandsVerblijfsadres">
			<input message="MIP:ZoekIngeschrevenPersonenOpBinnenlandsVerblijfsadresIn"/>
			<output message="MIP:ZoekIngeschrevenPersonenOpBinnenlandsVerblijfsadresOut"/>
			<fault message="MIP:Fault" name="Fout" />
		</operation>
		<operation name="RaadpleegBewoning">
			<input message="MIP:RaadpleegBewoningIn"/>
			<output message="MIP:RaadpleegBewoningOut"/>
			<fault message="MIP:Fault" name="Fout" />
		</operation>
		<operation name="RaadpleegIngeschrevenPersoon">
			<input message="MIP:RaadpleegIngeschrevenPersoonIn"/>
			<output message="MIP:RaadpleegIngeschrevenPersoonOut"/>
			<fault message="MIP:Fault" name="Fout" />
		</operation>
	</portType>
	<binding name="SOAPBevraagIngeschrevenPersoon" type="MIP:BevraagIngeschrevenPersoon">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
		<operation name="ZoekIngeschrevenPersonenOpGeslachtsnaam">
			<soap:operation soapAction="http://www.stufstandaarden.nl/koppelvlak/STUF4/ZoekIngeschrevenPersonenOpGeslachtsnaam" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="Fout">
				<soap:fault name="Fout" use="literal"/>
			</fault>
		</operation>
		<operation name="ZoekIngeschrevenPersonenOpPostcodeHuisnummer">
			<soap:operation soapAction="http://www.stufstandaarden.nl/koppelvlak/STUF4/ZoekIngeschrevenPersonenOpPostcodeHuisnummer"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="Fout">
				<soap:fault name="Fout" use="literal"/>
			</fault>
		</operation>
		<operation name="ZoekIngeschrevenPersonenOpBinnenlandsVerblijfsadres">
			<soap:operation soapAction="http://www.stufstandaarden.nl/koppelvlak/STUF4/ZoekIngeschrevenPersonenOpBinnenlandsVerblijfsadres"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="Fout">
				<soap:fault name="Fout" use="literal"/>
			</fault>
		</operation>
		<operation name="RaadpleegBewoning">
			<soap:operation soapAction="http://www.stufstandaarden.nl/koppelvlak/STUF4/RaadpleegBewoning"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="Fout">
				<soap:fault name="Fout" use="literal"/>
			</fault>
		</operation>
		<operation name="RaadpleegIngeschrevenPersoon">
			<soap:operation soapAction="http://www.stufstandaarden.nl/koppelvlak/STUF4/RaadpleegIngeschrevenPersoon"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="Fout">
				<soap:fault name="Fout" use="literal"/>
			</fault>
		</operation>
	</binding>
	<service name="BevraagIngeschrevenPersoonService">
		<port name="BevraagIngeschrevenPersoon" binding="MIP:SOAPBevraagIngeschrevenPersoon" />
	</service>
</definitions>
