StUF/Core/MaatschappelijkeActiviteit.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions
	xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:wsi="http://ws-i.org/schemas/conformanceClaim/"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:MMA="http://www.stufstandaarden.nl/koppelvlak/STUF4/Berichten/MaatschappelijkeActiviteit"
	targetNamespace="http://www.stufstandaarden.nl/koppelvlak/STUF4/Berichten/MaatschappelijkeActiviteit"
	>
	<types>
		<xs:schema>
			<xs:import schemaLocation="StUF4_msg_maatschappelijkeactiviteit.xsd"
								 namespace="http://www.stufstandaarden.nl/koppelvlak/STUF4/Berichten/MaatschappelijkeActiviteit"
								 />
		</xs:schema>
	</types>
	<message name="ZoekMaatschappelijkeActiviteitOpHandelsnaamIn">
		<part name="parameters" element="MMA:ZoekMaatschappelijkeActiviteitOpHandelsnaam"/>
	</message>
	<message name="ZoekMaatschappelijkeActiviteitOpHandelsnaamOut">
		<part name="parameters" element="MMA:ZoekMaatschappelijkeActiviteitOpHandelsnaamResponse"/>
	</message>
	<message name="ZoekMaatschappelijkeActiviteitOpNatuurlijkPersoonAlsEigenaarIn">
		<part name="parameters" element="MMA:ZoekMaatschappelijkeActiviteitOpNatuurlijkPersoonAlsEigenaar"/>
	</message>
	<message name="ZoekMaatschappelijkeActiviteitOpNatuurlijkPersoonAlsEigenaarOut">
		<part name="parameters" element="MMA:ZoekMaatschappelijkeActiviteitOpNatuurlijkPersoonAlsEigenaarResponse"/>
	</message>
	<message name="ZoekMaatschappelijkeActiviteitOpNietNatuurlijkPersoonAlsEigenaarIn">
		<part name="parameters" element="MMA:ZoekMaatschappelijkeActiviteitOpNietNatuurlijkPersoonAlsEigenaar"/>
	</message>
	<message name="ZoekMaatschappelijkeActiviteitOpNietNatuurlijkPersoonAlsEigenaarOut">
		<part name="parameters" element="MMA:ZoekMaatschappelijkeActiviteitOpNietNatuurlijkPersoonAlsEigenaarResponse"/>
	</message>
	<message name="RaadpleegMaatschappelijkeActiviteitOpKvKnummerIn">
		<part name="parameters" element="MMA:RaadpleegMaatschappelijkeActiviteitOpKvKnummer"/>
	</message>
	<message name="RaadpleegMaatschappelijkeActiviteitOpKvKnummerOut">
		<part name="parameters" element="MMA:RaadpleegMaatschappelijkeActiviteitOpKvKnummerResponse"/>
	</message>
	<message name="RaadpleegMaatschappelijkeActiviteitOpVestigingsnummerIn">
		<part name="parameters" element="MMA:RaadpleegMaatschappelijkeActiviteitOpVestigingsnummer"/>
	</message>
	<message name="RaadpleegMaatschappelijkeActiviteitOpVestigingsnummerOut">
		<part name="parameters" element="MMA:RaadpleegMaatschappelijkeActiviteitOpVestigingsnummerResponse"/>
	</message>
	<portType name="BevraagMaatschappelijkeActiviteit">
		<operation name="ZoekMaatschappelijkeActiviteitOpHandelsnaam">
			<input message="MMA:ZoekMaatschappelijkeActiviteitOpHandelsnaamIn"/>
			<output message="MMA:ZoekMaatschappelijkeActiviteitOpHandelsnaamOut"/>
		</operation>
		<operation name="ZoekMaatschappelijkeActiviteitOpNatuurlijkPersoonAlsEigenaar">
			<input message="MMA:ZoekMaatschappelijkeActiviteitOpNatuurlijkPersoonAlsEigenaarIn"/>
			<output message="MMA:ZoekMaatschappelijkeActiviteitOpNatuurlijkPersoonAlsEigenaarOut"/>
		</operation>
		<operation name="ZoekMaatschappelijkeActiviteitOpNietNatuurlijkPersoonAlsEigenaar">
			<input message="MMA:ZoekMaatschappelijkeActiviteitOpNietNatuurlijkPersoonAlsEigenaarIn"/>
			<output message="MMA:ZoekMaatschappelijkeActiviteitOpNietNatuurlijkPersoonAlsEigenaarOut"/>
		</operation>
		<operation name="RaadpleegMaatschappelijkeActiviteitOpKvKnummer">
			<input message="MMA:RaadpleegMaatschappelijkeActiviteitOpKvKnummerIn"/>
			<output message="MMA:RaadpleegMaatschappelijkeActiviteitOpKvKnummerOut"/>
		</operation>
		<operation name="RaadpleegMaatschappelijkeActiviteitOpVestigingsnummer">
			<input message="MMA:RaadpleegMaatschappelijkeActiviteitOpVestigingsnummerIn"/>
			<output message="MMA:RaadpleegMaatschappelijkeActiviteitOpVestigingsnummerOut"/>
		</operation>
	</portType>
	<binding name="SOAPBevraagMaatschappelijkeActiviteit" type="MMA:BevraagMaatschappelijkeActiviteit">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
		<operation name="ZoekMaatschappelijkeActiviteitOpHandelsnaam">
			<soap:operation soapAction="http://www.stufstandaarden.nl/koppelvlak/STUF4/ZoekMaatschappelijkeActiviteitOpHandelsnaam"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="ZoekMaatschappelijkeActiviteitOpNatuurlijkPersoonAlsEigenaar">
			<soap:operation soapAction="http://www.stufstandaarden.nl/koppelvlak/STUF4/ZoekMaatschappelijkeActiviteitOpNatuurlijkPersoonAlsEigenaar"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="ZoekMaatschappelijkeActiviteitOpNietNatuurlijkPersoonAlsEigenaar">
			<soap:operation soapAction="http://www.stufstandaarden.nl/koppelvlak/STUF4/ZoekMaatschappelijkeActiviteitOpNietNatuurlijkPersoonAlsEigenaar"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="RaadpleegMaatschappelijkeActiviteitOpKvKnummer">
			<soap:operation soapAction="http://www.stufstandaarden.nl/koppelvlak/STUF4/RaadpleegMaatschappelijkeActiviteitOpKvKnummer"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="RaadpleegMaatschappelijkeActiviteitOpVestigingsnummer">
			<soap:operation soapAction="http://www.stufstandaarden.nl/koppelvlak/STUF4/RaadpleegMaatschappelijkeActiviteitOpVestigingsnummer"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="BevraagMaatschappelijkeActiviteitService">
		<port name="BevraagMaatschappelijkeActiviteit" binding="MMA:SOAPBevraagMaatschappelijkeActiviteit">
		</port>
	</service>
</definitions>
