StUF/Core/StUF4_ent_adressengebouwen.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema
		xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:CMN="http://www.stufstandaarden.nl/koppelvlak/STUF4/Entiteiten/Gemeenschappelijk"
		xmlns:GEO="http://www.stufstandaarden.nl/koppelvlak/STUF4/Extern/Entiteiten/Geometrie"
		xmlns:AG="http://www.stufstandaarden.nl/koppelvlak/STUF4/Entiteiten/AdressenEnGebouwen"
		targetNamespace="http://www.stufstandaarden.nl/koppelvlak/STUF4/Entiteiten/AdressenEnGebouwen"
		elementFormDefault="qualified"
>

	<import
		schemaLocation="StUF4_ent_gemeenschappelijk.xsd"
		namespace="http://www.stufstandaarden.nl/koppelvlak/STUF4/Entiteiten/Gemeenschappelijk" />

	<import
		schemaLocation="StUF4_ent_extern_geometrie.xsd"
		namespace="http://www.stufstandaarden.nl/koppelvlak/STUF4/Extern/Entiteiten/Geometrie" />

	<complexType name="Brondocument">
		<sequence>
			<element name="identificatie" type="AG:DocumentIdentificatie" />
			<element name="datum" type="dateTime" nillable="true" />
			<element name="omschrijving" type="AG:DocumentOmschrijving" minOccurs="0" />
			<element name="gemeente" type="CMN:Gemeentecodering" nillable="true" />
			<element name="gemeenteAkte" type="CMN:Gemeentecodering" nillable="true" />
		</sequence>
	</complexType>

	<simpleType name="DocumentIdentificatie">
		<restriction base="string">
			<maxLength value="20"/>
		</restriction>
	</simpleType>

	<simpleType name="DocumentOmschrijving">
		<restriction base="string">
			<maxLength value="200"/>
		</restriction>
	</simpleType>

	<complexType name="Ligplaats">
		<complexContent>
			<extension base="CMN:AdresseerbaarObject">
				<sequence>
					<element name="indicatieGeconstateerdeLigplaats" type="string" />
					<element name="ligplaatsIdentificatie" type="string" />
					<element name="ligplaatsStatus" type="string" />

					<element name="vlakGeometrie" type="GEO:WellKnownText" />
          <element name="periodeGeldigheid" type="CMN:Periode" />
        </sequence>
			</extension>
		</complexContent>
	</complexType>

	<simpleType name="OpenbareruimteIdentificatie">
		<restriction base="string" />
	</simpleType>

	<complexType name="Openbareruimte">
		<sequence>
			<element name="identificatie" type="AG:OpenbareruimteIdentificatie" />
			<element name="naamOpenbareRuimte" type="CMN:NaamOpenbareRuimte" />
		</sequence>
	</complexType>

	<complexType name="PandBeperkt">
		<sequence>
			<element name="pandIdentificatie" type="string" />
      <element name="periodeGeldigheid" type="CMN:Periode" />
    </sequence>
	</complexType>

	<complexType name="Pand">
		<complexContent>
			<extension base="AG:PandBeperkt">
				<sequence>
					<element name="brutoInhoud" type="int" nillable="true" />
					<element name="hoogsteBouwlaagPand" type="int" />
					<element name="indicatieGeconstateerdPand" type="string" />
					<element name="inwinningswijzeGeometrieBovenaanzicht" type="string" />
					<element name="inwinningswijzeGeometrieMaaiveld" type="string" />
					<element name="laagsteBouwlaagPand" type="int" />
          <element name="oorspronkelijkBouwjaarPand" nillable="true">
            <annotation>
              <documentation>Een jaartal tussen 1000 en 2999</documentation>
            </annotation>
            <simpleType>
              <restriction base="int">
                <pattern value="(1|2)[0-9]{3}" />
              </restriction>
            </simpleType>
          </element>
					<element name="oppervlaktePand" type="int" nillable="true" />
					<element name="pandGeometrieBovenaanzicht" type="GEO:WellKnownText" />
					<element name="pandGeometrieMaaiveld" type="GEO:WellKnownText" />
					<element name="pandstatus" type="string" minOccurs="0" />
					<element name="relatieveHoogteliggingPand" type="int" />
					<element name="statusVoortgangBouw" type="string" minOccurs="0" />
					<element name="verblijfsobjecten">
						<complexType>
							<sequence>
								<element name="verblijfsobject" type="AG:Verblijfsobject" minOccurs="0" maxOccurs="unbounded" />
							</sequence>
						</complexType>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="Standplaats">
		<complexContent>
			<extension base="CMN:AdresseerbaarObject">
				<sequence>
					<element name="indicatieGeconstateerdeStandplaats" type="string" />
					<element name="standplaatsIdentificatie" type="string" />
					<element name="standplaatsStatus" type="string" />

					<element name="vlakGeometrie" type="GEO:WellKnownText" />
          <element name="periodeGeldigheid" type="CMN:Periode" />
        </sequence>
			</extension>
		</complexContent>
	</complexType>

	<simpleType name="StatusNaamgeving">
		<restriction base="string">
			<maxLength value="80"/>
			<enumeration value="Naamgeving uitgegeven"/>
			<enumeration value="Naamgeving ingetrokken"/>
		</restriction>
	</simpleType>

	<complexType name="Verblijfsobject">
		<complexContent>
			<extension base="CMN:AdresseerbaarObject">
				<sequence>
					<element name="aantalKamers" type="int" nillable="true" />
					<element name="hoogsteBouwlaagVerblijfsobject" type="int" nillable="true" />
					<element name="indicatieGeconstateerdVerblijfsobject" type="string" />
					<element name="laagsteBouwlaagVerblijfsobject" type="int" nillable="true" />
					<element name="ontsluitingVerdieping" type="string" minOccurs="0" />
					<element name="soortWoonobject" type="string" />
					<element name="toegangBouwlaagVerblijfsobject" type="int" />
					<element name="verblijfsobjectidentificatie" type="string" />
					<element name="verblijfsobjectStatus" type="int" />
					<element name="puntGeometrie" type="GEO:WellKnownText" />
					<element name="maaktDeelUitVan">
						<complexType>
							<sequence>
								<element name="pand" type="AG:PandBeperkt" minOccurs="0" maxOccurs="unbounded" />
							</sequence>
						</complexType>
					</element>
          <element name="bouwkundigeBestemmingenActueel">
            <complexType>
              <sequence>
                <element name="bouwkundigeBestemmingActueel" type="AG:BouwkundigeBestemming" minOccurs="0" maxOccurs="unbounded" />
              </sequence>
            </complexType>
          </element>
					<element name="brutoInhoud" type="int" nillable="true" />
          <element name="periodeGeldigheid" type="CMN:Periode" />
          <element name="gebruiksdoelenGebouwdObject">
            <complexType>
              <sequence>
                <element name="gebruiksdoelGebouwdObject" type="string" minOccurs="1" maxOccurs="unbounded" />
              </sequence>
            </complexType>
          </element>
					<element name="inwinningswijzeOppervlakte" type="string" />
					<element name="oppervlakteVerblijfsobject" type="int" nillable="true" />
					<element name="statusVoortgangBouw" type="string" minOccurs="0" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>

  <simpleType name="BouwkundigeBestemming">
    <restriction base="string">
      <enumeration value="doeleinden voor wonen">
        <annotation>
          <appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1000</EnumerationValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="eensgezinswoning">
        <annotation>
          <appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1001</EnumerationValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="bejaardenwoning">
        <annotation>
          <appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1002</EnumerationValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="recreatiewoning">
        <annotation>
          <appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1004</EnumerationValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="meergezinswoning">
        <annotation>
          <appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1005</EnumerationValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="dienstwoning">
        <annotation>
          <appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1006</EnumerationValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="zorgwoonverblijf">
        <annotation>
          <appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1007</EnumerationValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="aanleunwoonverblijf">
        <annotation>
          <appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1008</EnumerationValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="bejaardenwoonverblijf (in bejaardenoord, centrale keuken)">
        <annotation>
          <appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1009</EnumerationValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="jongerenwooneenheid">
        <annotation>
          <appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1010</EnumerationValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="gehandicaptenwooneenheid">
        <annotation>
          <appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1011</EnumerationValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="doeleinden voor niet-wonen">
        <annotation>
          <appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2000</EnumerationValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="doeleinden voor handel, horeca en bedrijf">
        <annotation>
          <appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2100</EnumerationValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="detailhandel">
        <annotation>
          <appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2110</EnumerationValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="cafe/bar/restaurant">
        <annotation>
          <appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2120</EnumerationValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="hotel/logies">
        <annotation>
          <appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2130</EnumerationValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="kantoor">
        <annotation>
          <appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2150</EnumerationValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="opslag en distributie">
        <annotation>
          <appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2160</EnumerationValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="fabricage en productie">
        <annotation>
          <appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2170</EnumerationValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="onderhoud en reparatie">
        <annotation>
          <appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2180</EnumerationValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="laboratoria">
        <annotation>
          <appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2190</EnumerationValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="overige doeleinden voor handel, horeca en bedrijf">
        <annotation>
          <appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2199</EnumerationValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="doeleinden voor cultuur">
        <annotation>
          <appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2200</EnumerationValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="wijk-/buurt-/verenigingsactiviteiten">
        <annotation>
          <appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2210</EnumerationValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="congres">
        <annotation>
          <appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2220</EnumerationValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="theater en concert">
        <annotation>
          <appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2230</EnumerationValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="musea">
        <annotation>
          <appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2240</EnumerationValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="expositie">
        <annotation>
          <appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2250</EnumerationValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="bioscoop">
        <annotation>
          <appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2260</EnumerationValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="bibliotheek">
        <annotation>
          <appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2270</EnumerationValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="overige doeleinden voor cultuur">
        <annotation>
          <appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2299</EnumerationValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="doeleinden voor recreatie">
        <annotation>
          <appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2300</EnumerationValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="sport buiten">
        <annotation>
          <appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2310</EnumerationValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="sport binnen">
        <annotation>
          <appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2320</EnumerationValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="recreatie">
        <annotation>
          <appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2330</EnumerationValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="zwembad">
        <annotation>
          <appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2340</EnumerationValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="dierenverzorging">
        <annotation>
          <appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2350</EnumerationValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="natuur en landschap">
        <annotation>
          <appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2360</EnumerationValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="overige doeleinden voor recreatie">
        <annotation>
          <appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2399</EnumerationValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="doeleinden voor agrarisch bedrijf">
        <annotation>
          <appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2400</EnumerationValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="akkerbouw">
        <annotation>
          <appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2410</EnumerationValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="veeteelt">
        <annotation>
          <appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2420</EnumerationValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="tuinbouw">
        <annotation>
          <appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2430</EnumerationValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="gemengd bedrijf">
        <annotation>
          <appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2440</EnumerationValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="overige doeleinden voor agrarisch bedrijf">
        <annotation>
          <appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2499</EnumerationValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="doeleinden voor onderwijs">
        <annotation>
          <appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2500</EnumerationValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="kinderopvang">
        <annotation>
          <appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2510</EnumerationValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="basisschool">
        <annotation>
          <appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2520</EnumerationValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="algemeen voortgezet onderwijs">
        <annotation>
          <appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2530</EnumerationValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="hoger beroepsonderwijs">
        <annotation>
          <appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2540</EnumerationValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="academisch onderwijs">
        <annotation>
          <appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2550</EnumerationValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="bijzonder onderwijs">
        <annotation>
          <appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2560</EnumerationValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="vrijetijds onderwijs">
        <annotation>
          <appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2570</EnumerationValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="overige onderwijs">
        <annotation>
          <appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2599</EnumerationValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="doeleinden voor gezondheidszorg">
        <annotation>
          <appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2600</EnumerationValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="ziekenhuis">
        <annotation>
          <appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2610</EnumerationValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="polikliniek">
        <annotation>
          <appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2620</EnumerationValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="praktijkruimte">
        <annotation>
          <appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2630</EnumerationValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="verpleegtehuis">
        <annotation>
          <appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2640</EnumerationValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="verzorgingstehuis en bejaardentehuis">
        <annotation>
          <appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2650</EnumerationValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="dagverblijf">
        <annotation>
          <appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2660</EnumerationValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="wijkverzorging">
        <annotation>
          <appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2670</EnumerationValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="psychiatrische inrichting">
        <annotation>
          <appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2680</EnumerationValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="overige doeleinden voor gezondheidszorg">
        <annotation>
          <appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2699</EnumerationValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="doeleinden voor verkeer">
        <annotation>
          <appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2700</EnumerationValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="stalling (fietsen/auto's)">
        <annotation>
          <appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2710</EnumerationValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="wegverkeer">
        <annotation>
          <appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2720</EnumerationValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="spoorwegverkeer">
        <annotation>
          <appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2730</EnumerationValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="luchtvaart">
        <annotation>
          <appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2740</EnumerationValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="scheepvaart">
        <annotation>
          <appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2750</EnumerationValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="overige doeleinden voor verkeer">
        <annotation>
          <appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2799</EnumerationValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="doeleinden voor nutsvoorzieningen">
        <annotation>
          <appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2800</EnumerationValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="waternuts doeleinden">
        <annotation>
          <appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2810</EnumerationValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="gas">
        <annotation>
          <appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2820</EnumerationValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="elektriciteit">
        <annotation>
          <appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2830</EnumerationValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="CAI">
        <annotation>
          <appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2840</EnumerationValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="telecommunicatie">
        <annotation>
          <appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2850</EnumerationValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="waterschaps en waterverdediging">
        <annotation>
          <appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2860</EnumerationValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="overige doeleinden voor nutsvoorzieningen">
        <annotation>
          <appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2899</EnumerationValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="andere doeleinden van openbaar nut">
        <annotation>
          <appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2900</EnumerationValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="gemeentehuis">
        <annotation>
          <appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2910</EnumerationValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="politie">
        <annotation>
          <appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2920</EnumerationValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="brandweer">
        <annotation>
          <appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2930</EnumerationValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="gevangenis/gesticht">
        <annotation>
          <appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2940</EnumerationValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="begraafplaats/crematorium">
        <annotation>
          <appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2950</EnumerationValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="godsdienst (kerk, klooster e.d.)">
        <annotation>
          <appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2960</EnumerationValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="defensie">
        <annotation>
          <appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2970</EnumerationValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="overige doeleinden van openbaar nut">
        <annotation>
          <appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2970</EnumerationValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
</schema>
