pilot/StUF/Core/IngeschrevenNietNatuurlijkPersoon.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions
	xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:wsi="http://ws-i.org/schemas/conformanceClaim/"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:MINNP="http://www.stufstandaarden.nl/koppelvlak/STUF4/Berichten/IngeschrevenNietNatuurlijkPersoon"
	targetNamespace="http://www.stufstandaarden.nl/koppelvlak/STUF4/Berichten/IngeschrevenNietNatuurlijkPersoon"
	>
	<types>
		<xs:schema>
			<xs:import schemaLocation="StUF4_msg_ingeschrevennietnatuurlijkpersoon.xsd"
								 namespace="http://www.stufstandaarden.nl/koppelvlak/STUF4/Berichten/IngeschrevenNietNatuurlijkPersoon"
								 />
		</xs:schema>
	</types>
	<message name="ZoekIngeschrevenNietNatuurlijkPersoonOpStatutaireNaamIn">
		<part name="parameters" element="MINNP:ZoekIngeschrevenNietNatuurlijkPersoonOpStatutaireNaam"/>
	</message>
	<message name="ZoekIngeschrevenNietNatuurlijkPersoonOpStatutaireNaamOut">
		<part name="parameters" element="MINNP:ZoekIngeschrevenNietNatuurlijkPersoonOpStatutaireNaamResponse"/>
	</message>
	<message name="ZoekIngeschrevenNietNatuurlijkPersonenOpPostcodeHuisnummerIn">
		<part name="parameters" element="MINNP:ZoekIngeschrevenNietNatuurlijkPersonenOpPostcodeHuisnummer"/>
	</message>
	<message name="ZoekIngeschrevenNietNatuurlijkPersonenOpPostcodeHuisnummerOut">
		<part name="parameters" element="MINNP:ZoekIngeschrevenNietNatuurlijkPersonenOpPostcodeHuisnummerResponse"/>
	</message>
	<message name="ZoekIngeschrevenNietNatuurlijkPersonenOpBinnenlandsBezoekadresIn">
		<part name="parameters" element="MINNP:ZoekIngeschrevenNietNatuurlijkPersonenOpBinnenlandsBezoekadres"/>
	</message>
	<message name="ZoekIngeschrevenNietNatuurlijkPersonenOpBinnenlandsBezoekadresOut">
		<part name="parameters" element="MINNP:ZoekIngeschrevenNietNatuurlijkPersonenOpBinnenlandsBezoekadresResponse"/>
	</message>
	<message name="RaadpleegIngeschrevenNietNatuurlijkPersoonOpRsinIn">
		<part name="parameters" element="MINNP:RaadpleegIngeschrevenNietNatuurlijkPersoonOpRsin"/>
	</message>
	<message name="RaadpleegIngeschrevenNietNatuurlijkPersoonOpRsinOut">
		<part name="parameters" element="MINNP:RaadpleegIngeschrevenNietNatuurlijkPersoonOpRsinResponse"/>
	</message>
	<message name="RaadpleegIngeschrevenNietNatuurlijkPersoonOpKvKnummerIn">
		<part name="parameters" element="MINNP:RaadpleegIngeschrevenNietNatuurlijkPersoonOpKvKnummer"/>
	</message>
	<message name="RaadpleegIngeschrevenNietNatuurlijkPersoonOpKvKnummerOut">
		<part name="parameters" element="MINNP:RaadpleegIngeschrevenNietNatuurlijkPersoonOpKvKnummerResponse"/>
	</message>
	<portType name="BevraagIngeschrevenNietNatuurlijkPersoon">
		<operation name="ZoekIngeschrevenNietNatuurlijkPersoonOpStatutaireNaam">
			<input message="MINNP:ZoekIngeschrevenNietNatuurlijkPersoonOpStatutaireNaamIn"/>
			<output message="MINNP:ZoekIngeschrevenNietNatuurlijkPersoonOpStatutaireNaamOut"/>
		</operation>
		<operation name="ZoekIngeschrevenNietNatuurlijkPersonenOpPostcodeHuisnummer">
			<input message="MINNP:ZoekIngeschrevenNietNatuurlijkPersonenOpPostcodeHuisnummerIn"/>
			<output message="MINNP:ZoekIngeschrevenNietNatuurlijkPersonenOpPostcodeHuisnummerOut"/>
		</operation>
		<operation name="ZoekIngeschrevenNietNatuurlijkPersonenOpBinnenlandsBezoekadres">
			<input message="MINNP:ZoekIngeschrevenNietNatuurlijkPersonenOpBinnenlandsBezoekadresIn"/>
			<output message="MINNP:ZoekIngeschrevenNietNatuurlijkPersonenOpBinnenlandsBezoekadresOut"/>
		</operation>
		<operation name="RaadpleegIngeschrevenNietNatuurlijkPersoonOpRsin">
			<input message="MINNP:RaadpleegIngeschrevenNietNatuurlijkPersoonOpRsinIn"/>
			<output message="MINNP:RaadpleegIngeschrevenNietNatuurlijkPersoonOpRsinOut"/>
		</operation>
		<operation name="RaadpleegIngeschrevenNietNatuurlijkPersoonOpKvKnummer">
			<input message="MINNP:RaadpleegIngeschrevenNietNatuurlijkPersoonOpKvKnummerIn"/>
			<output message="MINNP:RaadpleegIngeschrevenNietNatuurlijkPersoonOpKvKnummerOut"/>
		</operation>
	</portType>
	<binding name="SOAPBevraagIngeschrevenNietNatuurlijkPersoon" type="MINNP:BevraagIngeschrevenNietNatuurlijkPersoon">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
		<operation name="ZoekIngeschrevenNietNatuurlijkPersoonOpStatutaireNaam">
			<soap:operation soapAction="http://www.stufstandaarden.nl/koppelvlak/STUF4/ZoekIngeschrevenNietNatuurlijkPersoonOpStatutaireNaam"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="ZoekIngeschrevenNietNatuurlijkPersonenOpPostcodeHuisnummer">
			<soap:operation soapAction="http://www.stufstandaarden.nl/koppelvlak/STUF4/ZoekIngeschrevenNietNatuurlijkPersonenOpPostcodeHuisnummer"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="ZoekIngeschrevenNietNatuurlijkPersonenOpBinnenlandsBezoekadres">
			<soap:operation soapAction="http://www.stufstandaarden.nl/koppelvlak/STUF4/ZoekIngeschrevenNietNatuurlijkPersonenOpBinnenlandsBezoekadres"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="RaadpleegIngeschrevenNietNatuurlijkPersoonOpRsin">
			<soap:operation soapAction="http://www.stufstandaarden.nl/koppelvlak/STUF4/RaadpleegIngeschrevenNietNatuurlijkPersoonOpRsin"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="RaadpleegIngeschrevenNietNatuurlijkPersoonOpKvKnummer">
			<soap:operation soapAction="http://www.stufstandaarden.nl/koppelvlak/STUF4/RaadpleegIngeschrevenNietNatuurlijkPersoonOpKvKnummer"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="BevraagIngeschrevenNietNatuurlijkPersoonService">
		<port name="BevraagIngeschrevenNietNatuurlijkPersoon" binding="MINNP:SOAPBevraagIngeschrevenNietNatuurlijkPersoon">
			<!--<documentation>
				<wsi:Claim conformsTo="http://ws-i.org/profiles/basic/1.1"/>
			</documentation>
			<soap:address location="http://example.com/BeantwoordVraag"/>-->
		</port>
	</service>
</definitions>
