pilot/StUF/Core/StUF4_ent_kadastraleonroerendezaak.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2015 sp2 (http://www.altova.com) by Johan Boer (Kwaliteitsinstituut Nederlandse Gemeenten) -->
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:CMN="http://www.stufstandaarden.nl/koppelvlak/STUF4/Entiteiten/Gemeenschappelijk" xmlns:GEO="http://www.stufstandaarden.nl/koppelvlak/STUF4/Extern/Entiteiten/Geometrie" xmlns:AG="http://www.stufstandaarden.nl/koppelvlak/STUF4/Entiteiten/AdressenEnGebouwen" xmlns:KOZ="http://www.stufstandaarden.nl/koppelvlak/STUF4/Entiteiten/KadastraleOnroerendeZaak" targetNamespace="http://www.stufstandaarden.nl/koppelvlak/STUF4/Entiteiten/KadastraleOnroerendeZaak" elementFormDefault="qualified">
	<import namespace="http://www.stufstandaarden.nl/koppelvlak/STUF4/Entiteiten/Gemeenschappelijk" schemaLocation="StUF4_ent_gemeenschappelijk.xsd"/>
	<import namespace="http://www.stufstandaarden.nl/koppelvlak/STUF4/Entiteiten/AdressenEnGebouwen" schemaLocation="StUF4_ent_adressengebouwen.xsd"/>
	<import namespace="http://www.stufstandaarden.nl/koppelvlak/STUF4/Extern/Entiteiten/Geometrie" schemaLocation="StUF4_ent_extern_geometrie.xsd"/>
	<simpleType name="Bedrag">
		<restriction base="decimal">
			<pattern value="[0-9]{18}.[0-9]{2}"/>
		</restriction>
	</simpleType>
	<simpleType name="GroottePerceel">
		<restriction base="decimal">
			<pattern value="[0-9]{10}.[0-9]{2}"/>
		</restriction>
	</simpleType>
	<simpleType name="KadastraalAanduiding">
		<restriction base="string"/>
	</simpleType>
	<simpleType name="KadastraleIdentificatie">
		<restriction base="string"/>
	</simpleType>
	<simpleType name="TypeSplitsing">
		<restriction base="string">
			<enumeration value="Hoofdsplitsing"/>
			<enumeration value="Ondersplitsing"/>
			<enumeration value="Splitsing afkoop erfpacht"/>
		</restriction>
	</simpleType>
	<complexType name="AppartementsrechtSplitsing">
		<sequence>
			<element name="appartementsrechtSplitsingIdentificatie" type="int"/>
			<element name="typeSplitsing" type="KOZ:TypeSplitsing"/>
			<element name="verenigingVanEigenaren" type="KOZ:IngeschrevenNietNatuurlijkPersoonBeperkt-r"/>
		</sequence>
	</complexType>
	<complexType name="CultuurBebouwd">
		<sequence>
			<element name="cultuurCodeBebouwd" type="int" minOccurs="0"/>
			<element name="naamCultuurCodeBebouwd" type="int" minOccurs="0"/>
		</sequence>
	</complexType>
	<complexType name="CultuurOnbebouwd">
		<sequence>
			<element name="cultuurCodeOnbebouwd" type="int" minOccurs="0"/>
			<element name="naamCultuurCodeOnbebouwd" type="int" minOccurs="0"/>
		</sequence>
	</complexType>
	<complexType name="Hoofdzaak">
		<sequence>
			<annotation>
				<documentation>Recht omvat een onverdeeld aandeel in het mandelige recht.</documentation>
			</annotation>
			<element name="aandeelInMandeligheidTeller" minOccurs="1" maxOccurs="1"/>
			<element name="aandeelInMandeligheidNoemer" minOccurs="1" maxOccurs="1"/>
			<element name="kadastraleOnroerendeZaak" type="KOZ:KadastraleOnroerendeZaakBeperkt" minOccurs="1" maxOccurs="1"/>
		</sequence>
	</complexType>
	<complexType name="IngeschrevenNietNatuurlijkPersoonBeperkt-r">
		<sequence>
			<element name="rsin" type="string"/>
		</sequence>
	</complexType>
	<complexType name="KadastraalPerceel">
		<sequence>
			<element name="aanduidingSoortGrootte" type="string" minOccurs="0"/>
			<element name="begrenzingPerceel" type="GEO:WellKnownText" minOccurs="0"/>
			<element name="groottePerceel" type="KOZ:GroottePerceel" minOccurs="0"/>
		</sequence>
	</complexType>
	<complexType name="KadastraleOnroerendeZaak">
		<complexContent>
			<extension base="KOZ:KadastraleOnroerendeZaakBeperkt">
				<sequence>
					<element name="isOntstaanUit" minOccurs="0">
						<complexType>
							<sequence>
								<element name="kadastraleOnroerendeZaak" type="KOZ:KadastraleOnroerendeZaakIdentificatie" maxOccurs="unbounded"/>
							</sequence>
						</complexType>
					</element>
					<element name="koopsom" type="KOZ:Koopsom" minOccurs="0"/>
					<element name="landinrichtingsrente" type="KOZ:Landinrichtingsrente" minOccurs="0"/>
					<element name="cultuurOnbebouwd" type="KOZ:CultuurOnbebouwd" minOccurs="0"/>
					<element name="cultuurBebouwd" type="KOZ:CultuurBebouwd" minOccurs="0"/>
					<element name="locatieomschrijving" type="CMN:Locatieomschrijving" minOccurs="0"/>
					<element name="kadastraalPerceel" type="KOZ:KadastraalPerceel" minOccurs="0"/>
					<element name="zakelijkRechten" minOccurs="1">
						<complexType>
							<sequence>
								<element name="zakelijkRecht" type="KOZ:ZakelijkRechtRelatie" minOccurs="1" maxOccurs="unbounded"/>
							</sequence>
						</complexType>
					</element>
					<element name="zekerheidsstellingen" minOccurs="0">
						<complexType>
							<sequence>
								<element name="zekerheidsstelling" type="KOZ:Zekerheidsstelling" minOccurs="0" maxOccurs="unbounded"/>
							</sequence>
						</complexType>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="KadastraleOnroerendeZaakBeperkt">
		<sequence>
			<element name="kadastraleIdentificatie" type="KOZ:KadastraleIdentificatie" minOccurs="0"/>
			<element name="datumBeginGeldigheid" type="CMN:OnvolledigeDatum" minOccurs="0"/>
			<element name="datumEindeGeldigheid" type="CMN:OnvolledigeDatum" minOccurs="0"/>
			<element name="kadastraleGemeentecode" type="KOZ:KadastraalAanduiding"/>
			<element name="sectie" type="string"/>
			<element name="perceelnummer" type="string"/>
			<element name="appartementsrechtVolgnummer" type="string" minOccurs="0"/>
			<element name="adressen" minOccurs="0">
				<complexType>
					<sequence>
						<element name="adres" type="CMN:NummeraanduidingBeperkt" minOccurs="0" maxOccurs="unbounded"/>
					</sequence>
				</complexType>
			</element>
		</sequence>
	</complexType>
	<complexType name="Mandeligheid">
		<sequence>
			<element name="mandeligheidIdentificatie" minOccurs="1" maxOccurs="1"/>
			<element name="omvat" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>Een onroerende zaak kan hoofdzaak zijn in precies een mandeligheid. Voor de mandeligheid wordt vastgesteld welke onroerende zaak als hoofdzaak is vastgesteld. Een mandelig perceel met maar 1 hoofdperceel is een toegestane situatie. Het komt namelijk voor dat bijvoorbeeld een projectontwikkelaar alvast een mandeligheid vestigt vóórdat de hoofdpercelen worden overgedragen.Na inschrijving van de mandeligheid wordt het hoofdperceel gesplitst in meerdere (hoofd)percelen en daarna overgedragen.</documentation>
				</annotation>
				<complexType>
					<sequence>
						<element name="hoofdzaak" type="KOZ:Hoofdzaak" minOccurs="1" maxOccurs="unbounded"/>
					</sequence>
				</complexType>
			</element>
		</sequence>
	</complexType>
	<complexType name="KadastraleOnroerendeZaakIdentificatie">
		<sequence>
			<element name="kadastraleIdentificatie" type="KOZ:KadastraleIdentificatie" minOccurs="0"/>
			<element name="datumBeginGeldigheid" type="CMN:OnvolledigeDatum" minOccurs="0"/>
			<element name="datumEindeGeldigheid" type="CMN:OnvolledigeDatum" minOccurs="0"/>
			<element name="kadastraleGemeentecode" type="KOZ:KadastraalAanduiding"/>
			<element name="sectie" type="string"/>
			<element name="perceelnummer" type="string"/>
			<element name="appartementsrechtvolgnummer" type="string" minOccurs="0"/>
		</sequence>
	</complexType>
	<complexType name="Koopsom">
		<sequence>
			<element name="bedrag" type="KOZ:Bedrag" minOccurs="0"/>
			<element name="koopjaar" type="CMN:Jaar" minOccurs="0"/>
			<element name="meerOnroerendgoed" type="boolean" minOccurs="0"/>
			<element name="transactiedatum" type="date" minOccurs="0"/>
			<element name="valutasoort" type="string" minOccurs="0"/>
		</sequence>
	</complexType>
	<complexType name="Landinrichtingsrente">
		<sequence>
			<element name="bedrag" type="KOZ:Bedrag" minOccurs="0"/>
			<element name="eindjaar" type="CMN:Jaar" minOccurs="0"/>
			<element name="valutasoort" type="string" minOccurs="0"/>
		</sequence>
	</complexType>
	<complexType name="Tenaamstelling">
		<sequence>
			<element name="tenaamstellingIdentificatie" type="int" minOccurs="0"/>
			<element name="aandeelInRechtTeller" type="int" minOccurs="0"/>
			<element name="aandeelInRechtNoemer" type="int" minOccurs="0"/>
			<element name="tenaamstellingExploitantcode" type="int" minOccurs="0"/>
			<element name="tenaamstellingVerkregenNamensSamenwerkingsverband" type="int" minOccurs="0"/>
			<element name="gerechtigde" type="CMN:AbstractRechtspersoon" minOccurs="0"/>
			<element name="wordtBezwaardDoor" minOccurs="0">
				<complexType>
					<sequence>
						<element name="zekerheidsstelling" type="KOZ:Zekerheidsstelling" maxOccurs="unbounded"/>
					</sequence>
				</complexType>
			</element>
		</sequence>
	</complexType>
	<complexType name="ZakelijkRechtRelatie">
		<complexContent>
			<extension base="CMN:Relatie">
				<sequence>
					<element name="identificatieZakelijkRecht" type="int" minOccurs="0"/>
					<element name="codeAardZakelijkRecht" type="int" minOccurs="0"/>
					<element name="naamZakelijkRecht" type="string" minOccurs="0"/>
					<element name="ingangsdatumRecht" type="date" minOccurs="0"/>
					<element name="einddatumRecht" type="date" minOccurs="0"/>
					<element name="isBeperktTot" minOccurs="0">
						<complexType>
							<sequence>
								<element name="tenaamstelling" type="KOZ:Tenaamstelling" minOccurs="1" maxOccurs="unbounded"/>
							</sequence>
						</complexType>
					</element>
					<element name="isBelastMet" minOccurs="0">
						<complexType>
							<sequence>
								<element name="zakelijkRecht" type="KOZ:ZakelijkRechtRelatie" minOccurs="1" maxOccurs="unbounded"/>
							</sequence>
						</complexType>
					</element>
					<element name="isBetrokkenBij" minOccurs="0">
						<complexType>
							<sequence>
								<element name="appartementsrechtSplitsing" type="KOZ:AppartementsrechtSplitsing" minOccurs="0"/>
							</sequence>
						</complexType>
					</element>
					<element name="isOntstaanUit" minOccurs="0">
						<complexType>
							<sequence>
								<element name="appartementsrechtSplitsing" type="KOZ:AppartementsrechtSplitsing" minOccurs="0"/>
							</sequence>
						</complexType>
					</element>
					<element name="isBestemdTot" minOccurs="0">
						<complexType>
							<sequence>
								<element name="mandeligheid" type="KOZ:Mandeligheid" minOccurs="1"/>
							</sequence>
						</complexType>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Zekerheidsstelling">
		<sequence>
			<element name="zekerheidsrechtIdentificatie" type="int" minOccurs="0"/>
			<element name="aandeelInBetrokkenRechtTeller" type="int" minOccurs="0"/>
			<element name="aandeelInBetrokkenRechtNoemer" type="int" minOccurs="0"/>
			<element name="ingangsdatumRecht" type="date" minOccurs="0"/>
			<element name="einddatumRecht" type="date" minOccurs="0"/>
			<element name="datumBeginGeldigheid" type="CMN:OnvolledigeDatum" minOccurs="0"/>
			<element name="datumEindeGeldigheid" type="CMN:OnvolledigeDatum" minOccurs="0"/>
			<element name="heeftZekerheidsrecht" type="CMN:AbstractRechtspersoon" minOccurs="0"/>
			<element name="tenaamstelling" type="KOZ:Tenaamstelling" minOccurs="0"/>
			<element name="codeAardBeslag" type="string" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
