pilot/StUF/Core/Vestiging.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions
	xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:wsi="http://ws-i.org/schemas/conformanceClaim/"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:VES="http://www.stufstandaarden.nl/koppelvlak/STUF4/Berichten/Vestiging"
	targetNamespace="http://www.stufstandaarden.nl/koppelvlak/STUF4/Berichten/Vestiging"
	>
	<types>
		<xs:schema>
			<xs:import schemaLocation="StUF4_msg_vestiging.xsd"
								 namespace="http://www.stufstandaarden.nl/koppelvlak/STUF4/Berichten/Vestiging"
								 />
		</xs:schema>
	</types>
	<message name="ZoekVestigingOpHandelsnaamIn">
		<part name="parameters" element="VES:ZoekVestigingOpHandelsnaam"/>
	</message>
	<message name="ZoekVestigingOpHandelsnaamOut">
		<part name="parameters" element="VES:ZoekVestigingOpHandelsnaamResponse"/>
	</message>
	<message name="ZoekVestigingOpKvKnummerIn">
		<part name="parameters" element="VES:ZoekVestigingOpKvKnummer"/>
	</message>
	<message name="ZoekVestigingOpKvKnummerOut">
		<part name="parameters" element="VES:ZoekVestigingOpKvKnummerResponse"/>
	</message>
	<message name="ZoekVestigingOpNummeraanduidingIn">
		<part name="parameters" element="VES:ZoekVestigingOpNummeraanduiding"/>
	</message>
	<message name="ZoekVestigingOpNummeraanduidingOut">
		<part name="parameters" element="VES:ZoekVestigingOpNummeraanduidingResponse"/>
	</message>
	<message name="ZoekVestigingOpBinnenlandsVestigingsadresIn">
		<part name="parameters" element="VES:ZoekVestigingOpBinnenlandsVestigingsadres"/>
	</message>
	<message name="ZoekVestigingOpBinnenlandsVestigingsadresOut">
		<part name="parameters" element="VES:ZoekVestigingOpBinnenlandsVestigingsadresResponse"/>
	</message>
	<message name="ZoekVestigingOpPostcodeHuisnummerIn">
		<part name="parameters" element="VES:ZoekVestigingOpPostcodeHuisnummer"/>
	</message>
	<message name="ZoekVestigingOpPostcodeHuisnummerOut">
		<part name="parameters" element="VES:ZoekVestigingOpPostcodeHuisnummerResponse"/>
	</message>
	<message name="RaadpleegVestigingIn">
		<part name="parameters" element="VES:RaadpleegVestiging"/>
	</message>
	<message name="RaadpleegVestigingOut">
		<part name="parameters" element="VES:RaadpleegVestigingResponse"/>
	</message>
	<portType name="BevraagVestiging">
		<operation name="ZoekVestigingOpHandelsnaam">
			<input message="VES:ZoekVestigingOpHandelsnaamIn"/>
			<output message="VES:ZoekVestigingOpHandelsnaamOut"/>
		</operation>
		<operation name="ZoekVestigingOpKvKnummer">
			<input message="VES:ZoekVestigingOpKvKnummerIn"/>
			<output message="VES:ZoekVestigingOpKvKnummerOut"/>
		</operation>
		<operation name="ZoekVestigingOpNummeraanduiding">
			<input message="VES:ZoekVestigingOpNummeraanduidingIn"/>
			<output message="VES:ZoekVestigingOpNummeraanduidingOut"/>
		</operation>
		<operation name="ZoekVestigingOpBinnenlandsVestigingsadres">
			<input message="VES:ZoekVestigingOpBinnenlandsVestigingsadresIn"/>
			<output message="VES:ZoekVestigingOpBinnenlandsVestigingsadresOut"/>
		</operation>
		<operation name="ZoekVestigingOpPostcodeHuisnummer">
			<input message="VES:ZoekVestigingOpPostcodeHuisnummerIn"/>
			<output message="VES:ZoekVestigingOpPostcodeHuisnummerOut"/>
		</operation>
		<operation name="RaadpleegVestiging">
			<input message="VES:RaadpleegVestigingIn"/>
			<output message="VES:RaadpleegVestigingOut"/>
		</operation>
	</portType>
	<binding name="SOAPBevraagVestiging" type="VES:BevraagVestiging">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
		<operation name="ZoekVestigingOpHandelsnaam">
			<soap:operation soapAction="http://www.stufstandaarden.nl/koppelvlak/STUF4/ZoekVestigingOpHandelsnaam"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="ZoekVestigingOpKvKnummer">
			<soap:operation soapAction="http://www.stufstandaarden.nl/koppelvlak/STUF4/ZoekVestigingOpKvKnummer"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="ZoekVestigingOpNummeraanduiding">
			<soap:operation soapAction="http://www.stufstandaarden.nl/koppelvlak/STUF4/ZoekVestigingOpNummeraanduiding"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="ZoekVestigingOpBinnenlandsVestigingsadres">
			<soap:operation soapAction="http://www.stufstandaarden.nl/koppelvlak/STUF4/ZoekVestigingOpBinnenlandsVestigingsadres"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="ZoekVestigingOpPostcodeHuisnummer">
			<soap:operation soapAction="http://www.stufstandaarden.nl/koppelvlak/STUF4/ZoekVestigingOpPostcodeHuisnummer"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="RaadpleegVestiging">
			<soap:operation soapAction="http://www.stufstandaarden.nl/koppelvlak/STUF4/RaadpleegVestiging"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="BevraagVestigingService">
		<port name="BevraagVestiging" binding="VES:SOAPBevraagVestiging" />
	</service>
</definitions>
