pilot/StUF/Core/Wijk.wsdl

<?xml version="1.0" encoding="utf-8" ?>
<definitions
	xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:wsi="http://ws-i.org/schemas/conformanceClaim/"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:BW="http://www.stufstandaarden.nl/koppelvlak/STUF4/Berichten/Wijk/v4"
	targetNamespace="http://www.stufstandaarden.nl/koppelvlak/STUF4/Berichten/Wijk/v4"
	>
	<types>
		<xs:schema>
			<xs:import schemaLocation="StUF4_msg_wijk.xsd"
								 namespace="http://www.stufstandaarden.nl/koppelvlak/STUF4/Berichten/Wijk/v4"
								 />
		</xs:schema>
	</types>
	<message name="ZoekWijkOpWijknaamIn">
		<part name="parameters" element="BW:ZoekWijkOpWijknaam"/>
	</message>
	<message name="ZoekWijkOpWijknaamOut">
		<part name="parameters" element="BW:ZoekWijkOpWijknaamResponse"/>
	</message>
	<message name="ZoekWijkOpGemeentenaamIn">
		<part name="parameters" element="BW:ZoekWijkOpGemeentenaam"/>
	</message>
	<message name="ZoekWijkOpGemeentenaamOut">
		<part name="parameters" element="BW:ZoekWijkOpGemeentenaamResponse"/>
	</message>
	<message name="RaadpleegWijkOpWijkcodeGemeenteCodeIn">
		<part name="parameters" element="BW:RaadpleegWijkOpWijkcodeGemeenteCode"/>
	</message>
	<message name="RaadpleegWijkOpWijkcodeGemeenteCodeOut">
		<part name="parameters" element="BW:RaadpleegWijkOpWijkcodeGemeenteCodeResponse" />
	</message>
	<portType name="BevraagWijk">
		<operation name="ZoekWijkOpWijknaam">
			<input message="BW:ZoekWijkOpWijknaamIn"/>
			<output message="BW:ZoekWijkOpWijknaamOut"/>
		</operation>
		<operation name="ZoekWijkOpGemeentenaam">
			<input message="BW:ZoekWijkOpGemeentenaamIn"/>
			<output message="BW:ZoekWijkOpGemeentenaamOut"/>
		</operation>
		<operation name="RaadpleegWijkOpWijkcodeGemeenteCode">
			<input message="BW:RaadpleegWijkOpWijkcodeGemeenteCodeIn"/>
			<output message="BW:RaadpleegWijkOpWijkcodeGemeenteCodeOut"/>
		</operation>
	</portType>
	<binding name="SOAPBevraagWijk" type="BW:BevraagWijk">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
		<operation name="ZoekWijkOpWijknaam">
			<soap:operation soapAction="http://www.stufstandaarden.nl/koppelvlak/STUF4/ZoekWijkOpWijknaam"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="ZoekWijkOpGemeentenaam">
			<soap:operation soapAction="http://www.stufstandaarden.nl/koppelvlak/STUF4/ZoekWijkOpGemeentenaam"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="RaadpleegWijkOpWijkcodeGemeenteCode">
			<soap:operation soapAction="http://www.stufstandaarden.nl/koppelvlak/STUF4/RaadpleegWijkOpWijkcodeGemeenteCode"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="BevraagWijkService">
		<port name="BevraagWijk" binding="BW:SOAPBevraagWijk" />
	</service>
</definitions>
